<div class="container">
    <div class="row justify-content-center">
        <h3 class="col-md-6">
            Welcome {{ currentUser.firstName }}
        </h3>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">First Name</div>
        <div class="col-md-6">{{ currentUser.firstName }}</div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">Last Name</div>
        <div class="col-md-6">{{ currentUser.lastName }}</div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">Email</div>
        <div class="col-md-6">{{ currentUser.email }}</div>
    </div>
</div>
